@{
    ViewBag.Title = "Trang chủ";
}
<!-- SECTION BANNER -->
<section class="banner" data-stellar-background-ratio="0.5" style="background-position: 0px 43px;">
    <div class="inner">
        <h2 class="title-lg wow bounceInDown animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceInDown;">CÔNG TY CỔ PHẦN Ô TÔ CAMUDA</h2>
        <h2 class="title-md wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInDown;">SÀN GIAO DỊCH MUA BÁN Ô TÔ VÀ THIẾT BỊ PHỤ TÙNG</h2>
        <a href="#" class="btn button-primary wow fadeInUp animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">Videos <i class="icon icon-chevron-right"></i></a>

        <div class="content-nav">
            <div class="container">
                <ul class="row list-nav">
                    <li class="col-md-3 col-xs-4 item wow bounceInLeft animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceInLeft;">
                        <a href="#">
                            <span class="wrap-icon">
                                <i class="icon icon icon-play"></i>
                            </span>
                            <span class="text">Mua Bán Ô Tô</span>
                        </a>
                    </li>
                    <li class="col-md-3 col-xs-4 item wow bounceInLeft animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceInLeft;">
                        <a href="#">
                            <span class="wrap-icon">
                                <i class="icon icon icon-intelligent-control"></i>
                            </span>
                            <span class="text">Thiết bị định vị Gps</span>
                        </a>
                    </li>
                    <li class="col-md-3 col-xs-4 item wow bounceInLeft animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceInLeft;">
                        <a href="#">
                            <span class="wrap-icon">
                                <i class="icon icon icon-security-surveillance"></i>
                            </span>
                            <span class="text">Phụ tùng ô tô</span>
                        </a>
                    </li>
                    <li class="col-md-3 col-xs-4 item wow bounceInLeft animated" data-wow-delay="1.4s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceInLeft;">
                        <a href="#">
                            <span class="wrap-icon">
                                <i class="icon icon icon-play"></i>
                            </span>
                            <span class="text">Hợp tác xã vận tải</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- SECTION ARTICLE FEATURED -->
<section class="article-featured">
    <div class="container">
        <div class="row">
            <article class="col-sm-12 col-xs-6 article wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="wrap-title">
                    <h3 class="title-lg">
                        <a href="#">Video</a>
                    </h3>
                    <a href="#" class="view-all">
                        <i class="icon icon-view-all"></i>
                        XEM TẤT CẢ
                    </a>
                </div>
                <div class="article-info">
                    <iframe width="100%" height="399" src="https://www.youtube.com/embed/dlxnJ1ET2n8" frameborder="0" allowfullscreen></iframe>
                    <h4 class="title">
                        <a href="#/">2017 Ford Everest Titanium</a>
                    </h4>
                    <p class="description">
                        Đang có bán tại Carmuda
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>